{% block header %}
    <header class="d-flex align-items-center justify-content-around py-3 w-100 fixed-top">
        <h1 class="fs-4 mb-0">pictogram</h1>
        <nav class="d-flex align-items-center justify-content-between">
            <div id="search-wrapper" class="d-flex align-items-center rounded px-2 py-1">
                <input type="text" id="search-input" placeholder="search...">
                <i class="fas fa-search" role="button"></i>
            </div>
            <div class="nav-links d-flex align-items-center justify-content-around w-100">
                <a href="{% url 'home' %}"><i class="fas fa-home"></i></a>
                <i class="far fa-compass"></i>
                <a href="{% url 'post' %}" class="text-decoration-none"><i class="far fa-plus-square"></i></a>
                <div class="avatar rounded">
                    {% if user.profile_pic.url %}
                        <img src="{{ user.profile_pic.url }}" alt="user profile">
                    {% else %}
                        <img src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="user profile">
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
{% endblock %}