{% extends "users/base.html" %}
{% block content %}
    <div>
        <h3 class="mb-2">latest posts</h3>
        <hr>
        <section id="main-content" class="mt-2">
            {% for post in posts %}
                <div class="card rounded">
                    <div class="img">
                        <img src="{{ post.picture.url }}" alt="{{ post.caption }}" class="rounded">
                    </div>
                    <div class="caption">
                        <div class="avatar">
                            <img src="{{ post.user.profile_pic.url }}" alt="{{ post.user.username }}'s profile">
                        </div>
                        <div>
                            <p>{{ post.caption }}</p>
                            <div class="reactions">
                                <span class="me-2">
                                    <i class="far fa-heart"></i>
                                    1K
                                </span>
                                <span>
                                    <i class="far fa-comment-dots"></i>
                                    20
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}