{% extends "users/base.html" %}
{% load customfilters %}
{% block content %}
    <div>
        <h3 class="mb-2">latest posts</h3>
        <hr>
        <section id="main-content" class="mt-2">
            {% for post in posts %}
                <div class="card rounded">
                    <div class="img">
                        <img src="{{ post.picture.url }}" alt="{{ post.caption }}" class="rounded">
                    </div>
                    <div class="caption">
                        <a href="{% url 'profile' username=post.user.username %}" class="d-block me-3">
                            <div class="avatar">
                                {% if post.user.profile_pic.url %}
                                    <img src="{{ post.user.profile_pic.url }}" alt="user profile">
                                {% else %}
                                    <img src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="user profile">
                                {% endif %}
                            </div>
                        </a>
                        <div>
                            <p>{{ post.caption }}</p>
                            <div class="reactions">
                                <span class="me-2 like">
                                    <i class="far fa-heart" data-id="{{ post.pk }}"></i>
                                    {{ post|get_likes }}
                                </span>
                                <span class="comment">
                                    <i class="far fa-comment-dots"></i>
                                    20
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock content %}
{% block sidebar %}
    <div class="user-details">
        {% if user.is_authenticated %}
            <div class="avatar rounded">
                {% if user.profile_pic.url %}
                    <img src="{{ user.profile_pic.url }}" alt="user profile">
                {% else %}
                    <img src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="user profile">
                {% endif %}
            </div>
            <p class="text-bold fs-4 my-2">{{ user }}</p>
            <p>{{ user.email }}</p>
            <div class="d-flex align-items-center justify-content-around w-100">
                <div class="d-flex align-items-center flex-column">
                    <p>20</p>
                    <p>posts</p>
                </div>
                <div class="d-flex align-items-center flex-column">
                    <p>200K</p>
                    <p>followers</p>
                </div>
                <div class="d-flex align-items-center flex-column">
                    <p>4</p>
                    <p>following</p>
                </div>
            </div>
            <a href="{% url 'logout' %}" class="btn btn-outline-primary mt-3">log out</a>
        {% else %}
            <h3 class="text-center mb-3 fs-5">You are not logged in</h3>
            <a href="{% url 'register' %}" class="btn btn-primary mb-2">register</a>
            <a href="{% url 'login' %}" class="btn btn-outline-primary">login</a>
        {% endif %}
    </div>
{% endblock sidebar %}