{% extends "users/base.html" %}
{% load customfilters %}
{% block content %}
    <div>
        <h3 class="mb-2">latest posts</h3>
        <hr>
        <section id="post" class="mt-2">
            post content goes here
        </section>
    </div>
{% endblock content %}
{% block sidebar %}
    <div class="comments d-flex flex-column align-items-center">
        <h3 class="text-center mb-2">comments</h3>
        <div class="comments-container w-100 px-2">
            {% for comment in post|get_comments %}
                <div class="comment px-3 py-2 rounded mb-2 w-100">
                    <p class="mb-1">{{ comment.content }}</p>
                    <small class="d-block">- {{ comment.user.username }}</small>
                    <small class="d-block">{{ comment.date_posted }}</small>
                </div>
            {% endfor %}
        </div>
        <form method="POST" id="comment-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="comment-btn" role="button">send</button>
        </form>
    </div>
{% endblock sidebar %}