{% block sidebar %}
    <section id="side-bar" class="pt-3">
        <div class="user-details">
            <div class="avatar rounded">
                <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="user profile">
            </div>
            <p class="text-bold fs-4 my-2">ismailpervez</p>
            <p>pervezismailnagi@gmail.com</p>
            <div class="d-flex align-items-center justify-content-around w-100">
                <div class="d-flex align-items-center flex-column">
                    <p>20</p>
                    <p>posts</p>
                </div>
                <div class="d-flex align-items-center flex-column">
                    <p>200K</p>
                    <p>followers</p>
                </div>
                <div class="d-flex align-items-center flex-column">
                    <p>4</p>
                    <p>following</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}